.links{
    display: flex;
    justify-items: center;
    
    & a {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}