<form class="add-form" [class.hidden]="!isDisplayed" (ngSubmit)="onSubmit()"  >
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add task">
    </div>
    <div class="form-control">
        <label for="day">Day & time</label>
        <input type="day" name="day" [(ngModel)]="day" id="day" placeholder="Add day and time">
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder"/>
    </div>

    <input type="submit" value="Save Task" class="btn btn-block">
</form>